@import "tailwindcss";
@config "../tailwind.config.ts";

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist.woff2");
}

::selection {
  background-color: rgba(0, 149, 255, 0.373);
}

body {
  font-family: "Geist", sans-serif;
  overflow: hidden;
}
